<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd"
	xmlns:aop="http://www.springframework.org/schema/aop">

	<bean id="HelloImpl" class="net.study.spring.aop.HelloImpl"></bean>
	<bean id="XmlAspectAdvice" class="net.study.spring.aop.aspect.XmlAspectAdvice"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* net.study.spring.aop.IHello.*(..))" id="mypiontcut"/>
		<aop:aspect ref="XmlAspectAdvice">
			<!-- <aop:before pointcut-ref="mypiontcut" method="beforeMethod"/>-->
			
			<!-- <aop:after pointcut-ref="mypiontcut" method="afterMethod"/> -->
			
			<!--<aop:around pointcut-ref="mypiontcut" method="aroundMethod"/> -->
		
			<!-- <aop:after-returning pointcut-ref="mypiontcut" method="afterReturning" returning="result"/> --> 
			
			<aop:after-throwing pointcut="execution(* net.study.spring.aop.IHello.throwEx(..))"  method="throwExMethod" throwing="ex"/> 
		</aop:aspect>
	</aop:config>
</beans>        